@import "node_modules/bootstrap/scss/bootstrap";

h2 {
    width: 40%; 
    border-bottom: 4px solid #000; 
    line-height: 0em;
    margin: 10px 0 20px; 
 } 

h2 span { 
    background:#fff; 
    padding:0 10px; 
}

.content {
    max-width: 800px;
    margin: auto;
}

.my-works{
    margin-top: 10em;
    margin-bottom: 10em;
}

.employment{
    margin-top: 10em;
}

.intro{
    margin-top: 6em;
}

.about{
    margin-top: 10em;
}

.margin-top-5{
    margin-top: 5em;
}

.margin-top-7{
    margin-top: 7em;
}

.text-green{
    color: #178f5d;
    border-bottom: 4px solid #178f5d; 
}

.text-pink{
    color: #d44e8f;
    border-bottom: 4px solid #d44e8f; 
}

.text-blue{
    color: #5f8ccf;
    border-bottom: 4px solid #5f8ccf; 
}

body {
    padding-top: 70px;
}

.emp-selector {
    color: black;
}

a.emp-selector:hover {
    color: black;
    background-color: #5f8ccf;
}